* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.topbar {
    height: 7.0vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

.device-id {
    flex: 1; /* Takes up available space */
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.tv-name {
    flex: auto;
    text-align: center;
    font-weight: bold;
}

.date-time {
    flex: 1; /* Takes up available space */
    text-align: right;
    padding-right: 10px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
}

#live-clock {
    margin-bottom: 2px; /* Adjust the margin as needed */
    display: block;
    font-weight: 700;
}

#live-date {
    display: block;
}

.main-container {
    position: relative;
    width: 100%;
    height: calc(100% - 6.5vh);
    background: none;
    overflow: hidden;
}

.content-container {
    position: absolute;
    width: 300px;
    height: 200px;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 5px;
    border-radius: 5px;
    cursor:move;
    top: 0;
    left: 0;
    user-select: none;
}
/* 
.main-container.main-container.muuri {
    height: 100vh !important;
} */

.carousel-container {
    /* height: 84.5%; */
    align-content: center;
    height: calc(100% - 6.0vh);
    border: black 1px solid;
    border-radius: 5px;
}

.orgchart-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orgchart-content {
    transform-origin: center;
    transition: transform 0.3s ease;
}

.resize-handle {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #000000;
    bottom: 0;
    right: 0;
    cursor: se-resize;
    z-index: 10;
}

.content-container-con {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.content-main {
    flex: 1;
    overflow: auto; /* Optional: ensures scrolling if content overflows */
}

.content-details {
    margin-top: 5px;
}

.media-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carousel-item {
    display: none;
    width: 100%;
    height: auto;
    animation: fadeIn 2s ease-out;
}

.line-separator {
    display: block;
    height: 0.5px;
    margin: 10px 0; /* Adjust the margin to position the line */
}

.content-title {
    font-weight: bolder;
    user-select: none;
    padding-bottom: 6px;
    margin: 0;
}

.main-message {
    white-space: pre-wrap;
    max-height: 100%; /* Prevent overflow */
    overflow: hidden; /* Hide overflow content */
    text-align: justify; /* Justify text */
    word-wrap: break-word; /* Break words if necessary */
    line-height: 1.4; /* Line height for readability */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.page-number-container {
    bottom: 0;
    text-align: center;
    font-weight: bold;
}

.no-announcements-message {
    text-align: center;
    color: #666;
    margin-top: 5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.carousel-item.active {
    display: block;
}

.custom-node {
    border: 2px solid black; /* Border around the node */
    border-radius: 10px; /* Slight rounding of corners */
    padding: 10px; /* Padding around the contents */
    display: flex; /* Flexbox layout for easy alignment */
    align-items: center; /* Vertically center the items */
    background-color: rgb(237, 237, 237); /* Background color */
    min-width: auto; /* Fixed width */
    max-width: 200px; /* Fixed width */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

.custom-node img {
    border-radius: 50%; /* Circular image */
    border: 2px solid #000000; /* Light border around the image */
    width: 60px; /* Fixed width for image */
    height: 60px; /* Fixed height for image */
    margin-right: 15px; /* Space between the image and text */
}

.custom-node .details {
    font-size: 14px; /* Text size */
    line-height: 1.5; /* Line height for better readability */
}

.custom-node .node-name {
    font-weight: bold; /* Bold name */
    font-size: 16px; /* Larger font size for name */
}

.custom-node .node-title {
    font-style: italic; /* Italic title */
    margin-bottom: 5px; /* Space below the title */
}

/* Connecting lines */
.Treant .node {
    border-color: #000000; /* Blue color for connecting lines */
}

/* Small TVs (Under 32 inches) */
@media (max-width: 800px) {
    .device-id, .date-time, .author, .expiration-date, .display-time, .page-number-container, .no-announcements-message{
        font-size: 1.50vh;
    }
    .tv-name, .content-title, .main-message {
        font-size: 2.50vh;
    }
}

/* Medium TVs (32 to 49 inches) */
@media (min-width: 801px) and (max-width: 1200px) {
    .device-id, .date-time, .author, .expiration-date, .display-time, .page-number-container, .no-announcements-message {
        font-size: 1.75vh;
    }
    .tv-name, .content-title, .main-message {
        font-size: 2.75vh;
    }
}

/* Large TVs (50 to 59 inches) */
@media (min-width: 1201px) and (max-width: 1500px) {
    .device-id, .date-time, .author, .expiration-date, .display-time, .page-number-container, .no-announcements-message {
        font-size: 2.00vh;
    }
    .tv-name, .content-title, .main-message {
        font-size: 3.00vh;
    }
}

/* Extra Large TVs (60 to 69 inches) */
@media (min-width: 1501px) and (max-width: 1800px) {
    .device-id, .date-time, .author, .expiration-date, .display-time, .page-number-container, .no-announcements-message {
        font-size: 2.25vh;
    }
    .tv-name, .content-title, .main-message {
        font-size: 3.25vh;
    }
}

/* Super Large TVs (70 inches and above) */
@media (min-width: 1801px) {
    .device-id, .date-time, .author, .expiration-date, .display-time, .page-number-container, .no-announcements-message {
        font-size: 2.50vh;
    }
    .tv-name, .content-title, .main-message {
        font-size: 3.50vh;
    }
}
